/* Estilo para los enlaces de página */
.pagination-container a {
    color: #fff; /* Color del texto */
    background-color: #4f53df; /* Color de fondo */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px 10px; /* Espaciado interno */
    margin: 0 5px; /* Margen entre los enlaces */
    transition: all 0.3s; /* Agrega una transición suave */
    border: 1px solid transparent; /* Borde transparente por defecto */
}


/* Estilo para el enlace activo */
.pagination-container .active a, .pagination-container .page-item.active .page-link {
    background-color: #c4d0ff; /* Color de fondo activo */
    color: #4f53df; /* Color del texto activo */
    border: 1px solid #4f53df; /* Borde activo */
}

/* Estilo para el borde y sombreado al hacer hover */
.pagination-container a:hover {
    border: 1px solid #7d6cfc; /* Borde moradito */
    box-shadow: 0 0 5px rgba(125, 108, 252, 0.5); /* Sombra al hacer hover */
    color: #4f53df; /* Color del texto activo */
}
