main > .container {
    padding: 70px 15px 20px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer {
    background-color: #c4d0ff !important;
    font-size: .9em;
    height: 60px;   
}


.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.bg-dark{
    background-color: #c4d0ff !important; /*Aquí se cambia el color del fondo del Header*/
}

 body {
     background-color: #fafbff !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      margin-top: 20px !important; /*hace que haya margen por encima del título del home*/
    height: 100%;     
 }
 
 .btn-primary {
    color: #fff;
    background-color: #4f53df !important;
}

.btn-success {
    color: #fff;
    background-color: #4a6fff !important;   
}

.card {
    border-radius: 10px !important; /* Ajusta el radio de borde para que coincida con el de .card-body */
    transition: box-shadow 0.4s, border-radius 0.4s; /* Añade transición para el efecto de sombra y el radio de borde */
}

.card-body {
    border-radius: 10px !important; /* Ajusta el radio de borde para que coincida */
    color: #000000 !important;
    background-color: #e7e8e8;
   
    transition: background-color 0.4s, border-color 0.4s, border-radius 0.4s; /* Añade transición para el color de fondo, el color del borde y el radio de borde */
    border-radius: 10px;
    font-size: 16px;
}

body {
    font-family: 'Roboto', monospace !important; /* Reemplaza 'Roboto' con el nombre de la fuente que deseas usar */
    /* Otros estilos de texto según sea necesario */
    font-weight: 500 !important;
}

/* Estilos adicionales para el elemento .jumbotron h1 */
.jumbotron h1 {
    font-family: 'Roboto', monospace !important; /* Reemplaza 'Playfair Display' con el nombre de la fuente que deseas usar */
    /* Otros estilos de texto según sea necesario */
    font-weight: 500 !important;
}

/* Estilos adicionales para los elementos a */
a {
    font-family: 'Roboto', monospace !important; /* Reemplaza 'Roboto' con el nombre de la fuente que deseas usar */
    /* Otros estilos de texto según sea necesario */
    font-weight: 500 !important;
}

/* Agregar un margen derecho al logo */
.navbar-brand {
    margin-right: 300px;
}


/* Agregar ancho personalizado a la tarjeta */
.tarjeta-ancha {
    width: 300px; /* Ajusta este valor según sea necesario */
}

.navbar-dark .navbar-nav .nav-link {
    color: #000000 !important; /*esto es el color del texto del header*/
    font-family: 'Roboto Mono', cursive; /*Tipografias del header*/
    padding: 12px !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Agrega sombra al hacer hover */
    transition: box-shadow 0.3s; /* Añade transición para el efecto de sombra */
    border-radius: 5px; /* Asegura que el borde redondeado se mantenga al hacer hover */
    outline-offset: -5px; /* Alinea el borde simulado con la sombra */
}

* {
    font-family: 'Roboto Mono', monospace !important;
}
    
.nombre-paciente-box {
    background-color: #f0f0f0; /* Color de fondo de la caja */
    border: 1px solid #ccc; /* Borde de la caja */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 20px; /* Margen inferior para separar del contenido siguiente */
    border-radius: 5px; /* Bordes redondeados */    
}

/* Estilo para el botón de página activo */
.page-item.active .page-link {
    background-color: #01c4e6; /* Color de fondo del botón activo */
    border-color: #007bff; /* Color del borde del botón activo */
    color: #fff; /* Color del texto del botón activo */
}

/* Estilo para los botones de página */
.page-item .page-link {
    background-color: #fff; /* Color de fondo de los botones de página */
    border-color: #ddd; /* Color del borde de los botones de página */
    color: #333; /* Color del texto de los botones de página */
}

/* Estilo para el hover de los botones de página */
.page-item .page-link:hover {
    background-color: #f5f5f5; /* Color de fondo en hover */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Agrega sombra al hacer hover */
    transition: box-shadow 0.3s; /* Añade transición para el efecto de sombra */
    border-radius: 5px; /* Asegura que el borde redondeado se mantenga al hacer hover */
    outline-offset: -5px; /* Alinea el borde simulado con la sombra */
}

/* Estilo para los botones de paginación al hacer hover */
.page-item.prev .page-link:hover,
.page-item.next .page-link:hover {
    background-color: #f5f5f5; /* Color de fondo en hover */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Agrega sombra al hacer hover */
    transition: box-shadow 0.3s; /* Añade transición para el efecto de sombra */
    border-radius: 5px; /* Asegura que el borde redondeado se mantenga al hacer hover */
    outline-offset: -5px; /* Alinea el borde simulado con la sombra */
}


/* Estilos para los botones primarios al hacer hover */
.btn-primary:hover {
    background-color: #fff  !important;  /* Cambia el color de fondo al hacer hover */
    border-color: 1px solid #4a6fff !important; /* Cambia el color del borde al hacer hover */
    color: #4a6fff !important; /* Cambia el color del texto al hacer hover */
    
}

.navbar-brand img {
    width: 60px !important; /* Ancho deseado para el logo */
    height: auto; /* Altura automática para mantener la proporción */
    transition: box-shadow 0.3s; /* Añade transición para el efecto de sombra */
     border-radius: 110px; /* Aplica el borde redondeado inicialmente */
}

.navbar-brand img:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Agrega sombra al hacer hover */
    transition: box-shadow 0.3s; /* Añade transición para el efecto de sombra */
     border-radius: 150px; /* Asegura que el borde redondeado se mantenga al hacer hover */
    outline-offset: -150px; /* Alinea el borde simulado con la sombra */
     border-color: 1px solid #4a6fff !important;
}
    
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.5rem 0.75rem; /* Reduce el padding en la parte superior e inferior */
    list-style: none;
    background-color: #e7e8e8;
    border-radius: 0.25rem;
    font-size: 0.9rem; /* Reduce el tamaño del texto */
    margin-top: 1rem;
}


    .form-group.completed .form-control {
        border-color: #28a745; /* Color verde para el borde del input */
    }
    .form-group.completed .control-label::before {
        content: "✔"; /* Icono de tick verde */
        color: #28a745;
        margin-right: 10px;
    }
.completed .tick {
    display: block;
    color: green;
}



.btn-custom-size {
    width: 200px !important; /* Ancho fijo para los botones */
    text-align: center !important; /* Centra el contenido del botón */
}

.button-content {
    overflow: hidden !important; /* Oculta cualquier texto que desborde */
    text-overflow: ellipsis !important; /* Agrega puntos suspensivos (...) si el texto desborda */
    white-space: nowrap !important; /* Evita el desbordamiento del texto a la siguiente línea */
}

.site-login input {
    color: black;
}
btn btn-link logout{
    color: black;
}


.nav li > form > button.logout {
    padding-top: 7px;
    color: rgb(0 0 0);
}

/* site.css */
.navbar-nav {
    width: 900px;
}

/* Estilo para los botones al hacer hover */
.btn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Agrega sombra al hacer hover */
    transition: box-shadow 0.3s; /* Añade transición para el efecto de sombra */
    border-radius: 5px; /* Asegura que el borde redondeado se mantenga al hacer hover */
    outline-offset: -5px; /* Alinea el borde simulado con la sombra */
}

